.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(72, 60, 60);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.description, .ingredients, .steps {
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    align-items: center; 
}

.imagen {
    text-align: center;
    width: 100%;
}

.imagen img{
    width: 100%;
    height: auto;
}

.footer a{
    background-color: rgb(255, 82, 59);
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
}

.footer a:hover{
    background-color: rgb(255, 156, 156);
}

.navbar ul{
    overflow: hidden;
    background-color: rgb(72, 60, 60);
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
  }
.navbar li {
    border-right: 1px solid #bbb;
}
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover:not(.active) {
    background-color: rgb(221, 134, 134);
    color: black;
  }

  .active{
    background-color: rgb(184, 54, 54);
  }

  .icon{
    width: 64px;
    height: auto;
  }